<div id='menu-bar'>
	<ul id='menu-list'>
		<%= render partial: "castles/menu_buttons", locals: {page: pg, options: op} %>
		<%= render partial: "posts/menu_buttons", locals: {page: pg, options: op} %>
		<%= render partial: "paintings/menu_buttons", locals: {page: pg, options: op} %>
		<%= render partial: "users/menu_buttons", locals: {page: pg, options: op} %>
		<%= render partial: "sessions/menu_buttons", locals: {page: pg, options: op} %>
	</ul>
</div>